#sc_wrap {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 30px;
}

.wrp {
  margin-left: 50px;
  margin-bottom: 50px;
}

.countryName {
  font-size: 20px;
  margin-bottom: 10px;
}

#backButtonWrap {
  display: flex;
  align-items: center;
  height: 150px;
}

#backButtonWrap button {
  margin-left: 50px;
  padding: 10px 30px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 10px 5px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 10px 5px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 10px 5px rgba(34, 60, 80, 0.2);
}

#c_wrap {
  padding: 0 50px;
  display: flex;
}

#cont {
  margin-top: 20px;
  display: flex;
}

.it {
  margin-top: 10px;
}

.dop_info {
  margin-left: 50px;
}

#borders {
  margin-top: 30px;
}

@media (max-width: 900px) {
  #c_wrap {
    flex-direction: column;
  }
  #backButtonWrap {
    height: 100px;
  }
  #fl_wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
}

@media (max-width: 600px) {
  #cont {
    flex-direction: column;
  }
  .dop_info {
    margin-left: 0;
  }
}

@media (max-width: 430px) {
  #fl_wrap {
    overflow: hidden;
  }
  #fl_wrap img {
    object-fit: contain;
    object-position: center;
  }
}
