.wrapper {
  max-width: 1280px;
}

header {
  height: 50px;
  display: flex;
  align-items: center;
}

header .wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

header .wrapper span {
  display: flex;
  align-items: center;
  cursor: default;
  margin-left: 50px;
}

header .wrapper button {
  background-color: transparent;
  margin-right: 50px;
}

.lightBtn,
.darkBtn {
  display: flex;
  align-items: center;
}
.lightBtn::before {
  margin-right: 10px;
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  background-position: center center;
  background-size: contain;
  background-image: url("./images/moon_icon-icons.com_48261.png");
}

.darkBtn::before {
  margin-right: 10px;
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  background-position: center center;
  background-size: contain;
  background-image: url("./images/clear-sun_icon-icons.com_54321.png");
}
