.wrapper {
  max-width: 1280px;
}

header {
  height: 50px;
  display: flex;
  align-items: center;
}

header .wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

header .wrapper span {
  display: flex;
  align-items: center;
  cursor: default;
  margin-left: 50px;
}

header .wrapper button {
  background-color: transparent;
  margin-right: 50px;
}
