nav {
  display: flex;
  height: 60px;
  align-items: flex-end;
}

#searchInput {
  margin-left: 2.5vw;
}

select{
  cursor: pointer;
  margin-left: auto;
  margin-right: 2.5vw;
  padding: 9px 15px;
}