* {
  font-family: "Rubik", sans-serif;
}

#outerDiv {
  min-height: 100vh;
}

#wrapper {
  max-width: 1280px;
  margin: 0 15px;
}

#moreBtn {
  padding: 10px 50px;
  border-radius: 5px;
  border: 1px solid #000;
  white-space: nowrap;
  background-color: white;
  color: #000;
}

.loaderWrap {
  display: flex;
  justify-content: center;
}

#btnWrap {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
